
canvas.main-showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 77.5vw;
    width: calc(100vw - (min(25vw, 55vh) * 0.9));
    height: 100vh;
    height: 100dvh;
    z-index: 1;
}

.nav-bar {
    font-size: min(8vw, 8vh);
    background-color: #efefef;
    position: absolute;
    width: 25vw;
    width: min(25vw, 55vh);
    height: 100vh;
    height: 100dvh;
    left: 75vw;
    left: calc(100vw - min(25vw, 55vh));
    top: 0;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 3;
}

.nav-bar > .inner {
    margin-left: 10%;
    width: 90%;
    height: 100%;
}

.nav-bar > .inner > img {
    width: 80%;
    max-height: 25vh;
    margin: 10%;
    display: inline-block;
    object-fit: contain;
    object-position: center;
}

.nav-bar > .inner > nav {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    display: block;
    color: black;
    font-size: 0.75em;
}

.nav-bar > .inner > nav a {
    text-decoration: none;
    transform: scale(1);
    transform-origin: center;
    transition-property: transform, color;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    display: block;
    font-family: 'Bebas Neue', sans-serif;
    color: #2a2a2a;
}

.nav-bar > .inner > nav a:hover {
    color: #0c0c0c;
    transform: scale(1.1);
}

.nav-bar > .inner > nav a:visited {
    color: inherit;
}

.nav-bar > .ver {
    width: 90%;
    position: absolute;
    right: 0;
    bottom: 0.5em;
    text-align: center;
    pointer-events: none;
    font-family: 'Ubuntu Mono', monospace;
    color: #2a2a2a;
    font-size: 0.25em;
}

.nav-bar > .ver span {
    font: inherit;
    display: inline;
    margin: 0;
}

@media (max-aspect-ratio: 3/2) {
    .nav-bar {
        width: 30vw;
        left: 70vw;
    }

    .nav-bar > .inner > nav {
        font-size: 0.6em;
    }
}

@media (max-aspect-ratio: 1/1) {
    canvas.main-showcase {
        width: 100vw;
        height: 77.5vh;
        height: 77.5dvh;
    }

    .nav-bar {
        width: 100vw;
        height: 25vh;
        height: 77.5dvh;
        left: 0;
        top: 75vh;
        top: 75dvh;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }

    .nav-bar > .inner {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-top: 2.5vh;
        margin-top: 2.5dvh;
        height: 22.5vh;
        height: 22.5dvh;
        width: 100%;
    }

    .nav-bar > .inner > img {
        width: unset;
        max-height: unset;
        height: 20vh;
        height: 22.5dvh;
        margin: 2.5vh;
        margin: 2.5dvh;
    }

    .nav-bar > .inner > nav {
         width: unset;
         margin-left: unset;
         margin-top: 0.5em;
         margin-right: 1em;
         text-align: right;
         flex-grow: 1;
         font-size: 0.475em;
     }

    .nav-bar > .inner > nav a:hover {
        transform: scale(1);
    }

    .nav-bar > .ver {
        width: 100%;
    }
}

@media (max-aspect-ratio: 5/6) {

    .nav-bar > .inner > nav {
        font-size: 3.75vh; /* only real magic value in this whole layout */
        font-size: 3.75dvh;
    }

}

.nav-bar.blur {
    background-color: #0c0c0c;
    background: linear-gradient(96deg, rgba(12,12,12,0) 0%, rgba(12,12,12,1) 20%, rgba(12,12,12,1) 100%);
    z-index: 2;
    pointer-events: none;
    transform-origin: center;
    transform: scale(1.1);
}

@media (max-aspect-ratio: 1/1) {
    .nav-bar.blur {
        background: linear-gradient(174deg, rgba(12,12,12,0) 0%, rgba(12,12,12,1) 20%, rgba(12,12,12,1) 100%);
    }
}
